<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.HotelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Hotel">
        <id column="h_id" property="hId" />
        <result column="a_id" property="aId" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="star" property="star" />
        <result column="name" property="name" />
    </resultMap>
    <resultMap id="SearchResultMap" type="com.example.mybatisplus.model.domain.Hotel">
        <id column="h_id" property="hId" />
        <result column="ha_id" property="aId" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="star" property="star" />
        <result column="name" property="name" />
        <association property="address" javaType="com.example.mybatisplus.model.domain.Address">
            <id column="a_id" property="aId" />
            <result column="code" property="code" />
            <result column="province" property="province" />
            <result column="city" property="city" />
            <result column="district" property="district" />
            <result column="detail" property="detail" />
        </association>
        <association property="photo" javaType="com.example.mybatisplus.model.domain.Photo">
            <id column="p_id" property="pId" />
            <result column="pr_id" property="rId" />
            <result column="ph_id" property="hId" />
            <result column="photo_url" property="photoUrl" />
        </association>
        <association property="room" javaType="com.example.mybatisplus.model.domain.Room">
            <id column="r_id" property="rId" />
            <result column="rh_id" property="hId" />
            <result column="price" property="price" />
            <result column="roomtype" property="roomtype" />
            <result column="amount" property="amount" />
            <result column="max_people" property="maxPeople" />
        </association>
    </resultMap>

    <!--搜索功能sql语句-->
    <select id="searchResult" resultMap="SearchResultMap">
        SELECT hotel.*,address.*,
        photo.photo_url,datas.price,remain  FROM
        hotel
        INNER JOIN photo ON photo.h_id = hotel.h_id
        INNER JOIN address ON hotel.a_id = address.a_id
        INNER JOIN ((SELECT min(price) AS price,sum(remain) as remain,hotel.h_id,room.roomtype,detail.r_date
          FROM hotel INNER JOIN room ON hotel.h_id=room.h_id
          INNER JOIN detail on room.r_id = detail.r_id
          GROUP BY hotel.h_id,r_date,roomtype)AS datas)  ON  datas.h_id=hotel.h_id
        <where>
        <if test="hotelName != null and hotelName!=''">
            and hotel.name like '%${hotelName}%'
        </if>
        <if test="checkIn != null">
            and datas.r_date=#{checkIn} and remain>0
        </if>
        <if test="roomType != null and roomType!=''">
            and datas.roomtype=#{roomType}
        </if>
        <if test="code!=null" >
             and address.code=#{code}
        </if>
        <if test="true" >
            and 1
        </if>
        </where>
    </select>
    <!-- 酒店推荐三表联查映射结果 -->

    <resultMap id="RemMap" type="com.example.mybatisplus.model.domain.Hotel">
        <id column="id" property="Id" />
        <result column="h_id" property="hId" />
        <result column="a_id" property="aId" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="star" property="star" />
        <result column="name" property="name" />
        <association property="address" javaType="com.example.mybatisplus.model.domain.Address">
            <id column="aid" property="aId" />
            <result column="country" property="country" />
            <result column="province" property="province" />
            <result column="city" property="city" />
            <result column="district" property="district" />
            <result column="detail" property="detail" />
        </association>
        <association property="photo" javaType="com.example.mybatisplus.model.domain.Photo">
            <id column="p_id" property="pId" />
            <result column="r_id" property="rId" />
            <result column="hid" property="hId" />
            <result column="photo_url" property="photoUrl" />
        </association>
    </resultMap>
    <select id="getrem" resultMap="RemMap">
        SELECT
            *,address.a_id as aid,photo.h_id as hid
        FROM
            hotel
                INNER JOIN photo ON photo.h_id = hotel.h_id
                INNER JOIN address ON hotel.a_id = address.a_id
        WHERE
             photo.r_id is NULL
        group by hotel.h_id
        ORDER BY
            hotel.star DESC
        LIMIT 3
    </select>
    <resultMap id="HotelDetailMap" type="com.example.mybatisplus.model.domain.Hotel">
        <id column="id" property="Id" />
        <result column="h_id" property="hId" />
        <result column="a_id" property="aId" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="star" property="star" />
        <result column="name" property="name" />
        <association property="address" javaType="com.example.mybatisplus.model.domain.Address">
            <id column="aid" property="aId" />
            <result column="code" property="code" />
            <result column="province" property="province" />
            <result column="city" property="city" />
            <result column="district" property="district" />
            <result column="detail" property="detail" />
        </association>
        <association property="photo" javaType="com.example.mybatisplus.model.domain.Photo">
            <id column="p_id" property="pId" />
            <result column="rid" property="rId" />
            <result column="hhid" property="hId" />
            <result column="photo_url" property="photoUrl" />
        </association>
        <association property="room" javaType="com.example.mybatisplus.model.domain.Room">
            <id column="r_id" property="rId" />
            <result column="hh_id" property="hId" />
            <result column="price" property="price" />
            <result column="roomtype" property="roomtype" />
            <result column="amount" property="amount" />
            <result column="max_people" property="maxPeople" />
        </association>
        <association property="detail" javaType="com.example.mybatisplus.model.domain.Detail">
            <id column="r_date" property="rDate" />
            <result column="rrid" property="rId" />
            <result column="remain" property="remain" />
        </association>
    </resultMap>
    <select id="showDetails" resultMap="HotelDetailMap">
        SELECT
            *
        FROM
            hotel
                RIGHT JOIN room ON room.h_id = hotel.h_id
                INNER JOIN photo ON photo.r_id = room.r_id
                INNER JOIN detail ON detail.r_id = room.r_id
                INNER JOIN address ON hotel.a_id = address.a_id
        where
            hotel.h_id = #{hId}
        GROUP BY
            room.r_id

    </select>
    <select id="showDetails2" resultMap="HotelDetailMap">
        SELECT
            *
        FROM
            hotel
                INNER JOIN address ON hotel.a_id = address.a_id
                INNER JOIN photo ON photo.h_id = hotel.h_id
        WHERE
            hotel.h_id = #{hId} and
            photo.r_id IS NULL
        ORDER BY
            photo.p_id ASC
    </select>


</mapper>
