<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.RoomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Room">
        <id column="r_id" property="rId" />
        <result column="h_id" property="hId" />
        <result column="price" property="price" />
        <result column="roomtype" property="roomtype" />
        <result column="amount" property="amount" />
        <result column="max_people" property="maxPeople" />
    </resultMap>

</mapper>
