<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.User">
        <id column="u_id" property="uId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="photo_url" property="photoUrl" />
        <result column="mail" property="mail" />
        <result column="usertype" property="usertype" />
    </resultMap>
    <update id="updatePic">
        update user set photo_url = #{picurl} where u_id = #{uid}
    </update>
    <select id="selectLogin" resultType="com.example.mybatisplus.model.domain.User">
        select * from user where username = #{username} and password = #{password} and usertype = #{usertype}
    </select>
    <resultMap id="myMap" type="com.example.mybatisplus.model.domain.User">
        <id column="u_id" property="uId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="photo_url" property="photoUrl" />
        <result column="mail" property="mail" />
        <result column="usertype" property="usertype" />
    </resultMap>
</mapper>
