<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.UserorderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Userorder">
        <id column="o_id" property="oId" />
        <result column="r_id" property="rId" />
        <result column="u_id" property="uId" />
        <result column="h_id" property="hId" />
        <result column="check_in" property="checkIn" />
        <result column="check_out" property="checkOut" />
        <result column="totalprice" property="totalprice" />
        <result column="quantity" property="quantity" />
        <result column="state" property="state" />
        <result column="comment" property="comment" />
        <result column="truename" property="truename" />
        <result column="idcard" property="idcard" />
        <result column="phonenumber" property="phonenumber" />
        <result column="created_time" property="createdTime" />
    </resultMap>
    <update id="usercomment">
        update userorder set comment = #{comments} , state = 1 where o_id = #{orderId}
    </update>
    <resultMap id="userorderMap" type="com.example.mybatisplus.model.domain.Userorder">
        <id column="o_id" property="oId" />
        <result column="r_id" property="rId" />
        <result column="u_id" property="uId" />
        <result column="h_id" property="hId" />
        <result column="check_in" property="checkIn" />
        <result column="check_out" property="checkOut" />
        <result column="totalprice" property="totalprice" />
        <result column="quantity" property="quantity" />
        <result column="state" property="state" />
        <result column="comment" property="comment" />
        <result column="truename" property="truename" />
        <result column="idcard" property="idcard" />
        <result column="phonenumber" property="phonenumber" />
        <result column="created_time" property="createdTime" />
        <association property="hotel" javaType="com.example.mybatisplus.model.domain.Hotel">
            <id column="hid" property="hId" />
            <result column="aid" property="aId" />
            <result column="longitude" property="longitude" />
            <result column="latitude" property="latitude" />
            <result column="star" property="star" />
            <result column="name" property="name" />
        </association>
        <association property="user" javaType="com.example.mybatisplus.model.domain.User">
            <id column="uid" property="uId" />
            <result column="username" property="username" />
            <result column="password" property="password" />
            <result column="photo_url" property="photoUrl" />
            <result column="mail" property="mail" />
            <result column="usertype" property="usertype" />
        </association>
        <association property="room" javaType="com.example.mybatisplus.model.domain.Room">
            <id column="rid" property="rId" />
            <result column="rh_id" property="hId" />
            <result column="price" property="price" />
            <result column="roomtype" property="roomtype" />
            <result column="amount" property="amount" />
            <result column="max_people" property="maxPeople" />
        </association>
    </resultMap>
    <insert id="submitOrder">
    </insert>
    <select id="selectId" resultMap="userorderMap">
        SELECT
            *
        FROM
            userorder
                INNER JOIN `user` ON userorder.u_id = `user`.u_id
                INNER JOIN hotel ON userorder.h_id = hotel.h_id
                INNER JOIN room ON userorder.r_id = room.r_id
        WHERE
            userorder.u_id = #{uid}
    </select>
    <resultMap id="PlaceOrder" type="com.example.mybatisplus.model.domain.Userorder" >
        <id column="o_id" property="oId" />
        <result column="r_id" property="rId" />
        <result column="u_id" property="uId" />
        <result column="h_id" property="hId" />
        <result column="check_in" property="checkIn" />
        <result column="check_out" property="checkOut" />
        <result column="totalprice" property="totalprice" />
        <result column="quantity" property="quantity" />
        <result column="state" property="state" />
        <result column="comment" property="comment" />
        <result column="truename" property="truename" />
        <result column="idcard" property="idcard" />
        <result column="phonenumber" property="phonenumber" />
        <result column="created_time" property="createdTime" />
        <association property="hotel" javaType="com.example.mybatisplus.model.domain.Hotel">
            <id column="h_id" property="hId"/>
            <result column="ha_id" property="aId"/>
            <result column="longitude" property="longitude"/>
            <result column="latitude" property="latitude"/>
            <result column="star" property="star"/>
            <result column="name" property="name"/>
        </association>
        <association property="room" javaType="com.example.mybatisplus.model.domain.Room">
            <id column="r_id" property="rId"/>
            <result column="rh_id" property="hId"/>
            <result column="price" property="price"/>
            <result column="roomtype" property="roomtype"/>
            <result column="amount" property="amount"/>
            <result column="max_people" property="maxPeople"/>
        </association>
        <association property="detail" javaType="com.example.mybatisplus.model.domain.Detail">
            <result column="remain" property="remain"/>
        </association>
        <association property="address" javaType="com.example.mybatisplus.model.domain.Address">
            <id column="a_id" property="aId" />
            <result column="code" property="code" />
            <result column="province" property="province" />
            <result column="city" property="city" />
            <result column="district" property="district" />
            <result column="detail" property="detail" />
        </association>
    </resultMap>
    <select id="placeOrder" resultMap="PlaceOrder">
        select *,hotel.a_id as ha_id,hotel.h_id as ah_id from hotel inner join
        ((select room.*,min(remain)as remain from detail inner join room on room.r_id = detail.r_id
        <where>
            <if test="checkIn != null and checkOut!=null">
                and detail.r_date &gt;= #{checkIn} and detail.r_date &lt;= #{checkOut}
            </if>
            <if test="roomId != null ">
                and room.r_id=#{roomId}
            </if>
        </where>
        group by room.r_id)AS deroom)
        ON deroom.h_id=hotel.h_id
        <if test="hotelId != null ">
            and hotel.h_id = #{hotelId}
        </if>
        inner join address on hotel.a_id=address.a_id
    </select>
    <select id="selectRoom" resultMap="PlaceOrder">
        select room.* ,address.* ,hotel.name,room.h_id as rh_id from room inner join hotel on hotel.h_id=room.h_id and room.r_id=#{roomId}
        inner join address on hotel.a_id = address.a_id;
    </select>
    <select id="getoneorder" resultType="com.example.mybatisplus.model.domain.Userorder">
        select * from userorder where u_id = #{Uid}
    </select>

</mapper>
