<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.UserorderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Userorder">
        <id column="o_id" property="oId" />
        <result column="r_id" property="rId" />
        <result column="u_id" property="uId" />
        <result column="h_id" property="hId" />
        <result column="check_in" property="checkIn" />
        <result column="check_out" property="checkOut" />
        <result column="totalprice" property="totalprice" />
        <result column="quantity" property="quantity" />
        <result column="state" property="state" />
        <result column="comment" property="comment" />
    </resultMap>

</mapper>
